<!doctype html>
<html lang=''>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="900">
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static "./css/styles.css" %}">
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    {% load staticfiles %}
        <script src="{% static "./js/script.js" %}"></script>
        <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div id='conteiner'>
        <div id='cssmenu'>
            <ul>
                <li class='active'><a href='/'><span>Home</span></a></li>
                <li><a href='/ocsreports/'><span>OCS Inventory</span></a></li>
                <li><a href='/speedtest/'><span>Speedtest</span></a></li>
                <li><a href='/transfer_input/'><span>Refilling counter</span></a></li>
                <li class='has-sub'><a href='#'><span>Printers</span></a>
                    <ul>
                        <li><a href='/total/'><span>Total Cons Status</span></a></li>
                        <li><a href='/total_changes/'><span>Total Changes</span></a></li>
                        <li><a href='/pagesstatistic/'><span>Printed pages statistic</span></a></li>
                        <li><a href='/hpcolor/'><span>HP Color</span></a></li>
                        <li><a href='/xeroxcolora3/'><span>Xerox Color A3</span></a></li>
                        <li><a href='/xeroxmonoa3/'><span>Xerox Mono A3</span></a></li>
                        <li><a href='/xeroxcolora4/'><span>Xerox Color A4</span></a></li>
                        <li><a href='/xeroxmonoa4/'><span>Xerox Mono A4</span></a></li>
                        <li class='last'><a href='/okimonoa4/'><span>Oki Mono A4</span></a></li>
                    </ul>
                </li>
                <li class='has-sub'><a href='#'><span>About</span></a>
                    <ul>
                        <li><a href='#'><span>How to use</span></a></li>
                        <li class='last'><a href='#'><span>What to do</span></a></li>
                    </ul>
                </li>
                <li class='last'><a href='#'><span>Contact</span></a></li>
            </ul>
        </div>

        <div id='content'>
            <div class = success_msg"><p>{{ success_msg }}</p></div>
            {% block content %}{% endblock %}
        </div>

    </div>
</body>
</html>
