{% extends "short_printer_report.html" %}
{% load app_filters %}
{% block title %}Detailed info{% endblock %}
{% block link_to_detailed_report %}{% endblock %}
{% block cartridge_changes %}
	    <h1> Cartridge changes: </h1>
	    {% for counter in counters %}
		    {% if counter.dataFile == printer.dataFile %}
	            <p>
	            <li> {{ counter.date }} {{ counter.consumable }} {{ counter.counter }} </li>
		    {% endif %}
	    {% endfor %}
{% endblock %}