{% extends "base.html" %}

{% block title %}Cartridge canges markup system{% endblock %}

{% block content %}
<p><h1>This site is <b>still</b> under construction. So there can be some bugs and unstable work</h1></p>
{% endblock %}