<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static "./css/styles.css" %}">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  {% load staticfiles %}
   <script src="{% static "./js/script.js" %}"></script>
   <title>Cartridge change counter</title>
</head>
<body>
<div id='conteiner'>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span>Home</span></a></li>
   <li class='has-sub'><a href='#'><span>Printers</span></a>
      <ul>
         <li><a href='#'><span>HP Color</span></a></li>
         <li><a href='#'><span>Xerox Color</span></a></li>
         <li class='last'><a href='#'><span>Xerox Mono</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>About</span></a>
      <ul>
         <li><a href='#'><span>How to use</span></a></li>
         <li class='last'><a href='#'><span>What to do</span></a></li>
      </ul>
   </li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>

<div id='content'>
Aabsdnabsdndansdbansd


</div>


</div>
</body>
<html>
