{% extends "base.html" %}

{% block title %}Sent-Received statistic{% endblock %}

{% block content %}

    <div class="div_sent_received_form">
        <form action="/transfer_input/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    <p>{{ field.errors }}</p>
                    <p>{{ field.label_tag }} {{ field }}</p>
                </div>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="div_sent_received_statistic">
        {% for statistic in sent_received_statistic %}
            <p>{{ statistic.cartridge_name }}</p>
            <p>Last sent: {{ statistic.last_sent }}</p>
            <p>Last received: {{ statistic.last_received }}</p>
            <p>Total difference: {{ statistic.total_diff }}</p>
        {% endfor %}
    </div>

{% endblock %}
