{% extends "base.html" %}
{% block title %}Pages Printed{% endblock %} 
{% load app_filters %}
{% block content %}
<h1> Pages printed this day </h1>
<table id="printed_pages_statistic_tbl">
    <tr>
	<td>Printer</td>
	<td>Location</td>
	<td>IP</td>
	<td>Pages printed</td>
	<td>Last Update</td>
    </tr>
{% autoescape off %}
{% for t in thisDay %}
    <tr>
	<td>{{ t.name|name_changer }}</td>
	<td> {{ t.location }} </td>
	<td> {{ t.ip }} </td>
	<td> {{ t.printedToday }} </td>
	<td> {{ t.lastUpdate }} </td>
    </tr>
{% endfor %}
{% endautoescape %}
</table>

<h1> Pages printed this week</h1>
<table id="printed_pages_statistic_tbl">
    <tr>
	<td>Printer</td>
	<td>Location</td>
	<td>IP</td>
	<td>Pages printed</td>
	<td>Last Update</td>
    </tr>
{% autoescape off %}
{% for t in thisWeek %}
    <tr>
	<td>{{ t.name|name_changer }}</td>
	<td> {{ t.location }} </td>
	<td> {{ t.ip }} </td>
	<td> {{ t.printedThisWeek }} </td>
	<td> {{ t.lastUpdate }} </td>
    </tr>
{% endfor %}
{% endautoescape %}
</table>

<h1> Pages printed this month</h1>
<table id="printed_pages_statistic_tbl">
    <tr>
	<td>Printer</td>
	<td>Location</td>
	<td>IP</td>
	<td>Pages printed</td>
	<td>Last Update</td>
    </tr>
{% autoescape off %}
{% for t in thisMonth %}
    <tr>
	<td>{{ t.name|name_changer }}</td>
	<td> {{ t.location }} </td>
	<td> {{ t.ip }} </td>
	<td> {{ t.printedThisMonth }} </td>
	<td> {{ t.lastUpdate }} </td>
    </tr>
{% endfor %}
{% endautoescape %}
</table>

<h1> Pages printed this year</h1>
<table id="printed_pages_statistic_tbl">
    <tr>
	<td>Printer</td>
	<td>Location</td>
	<td>IP</td>
	<td>Pages printed</td>
	<td>Last Update</td>
    </tr>
{% autoescape off %}
{% for t in thisYear %}
    <tr>
	<td>{{ t.name|name_changer }}</td>
	<td> {{ t.location }} </td>
	<td> {{ t.ip }} </td>
	<td> {{ t.printedThisYear }} </td>
	<td> {{ t.lastUpdate }} </td>
    </tr>
{% endfor %}
{% endautoescape %}
</table>
{% endblock %}