{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load app_filters %}
{% block content %}
{% autoescape off %}
{% for printer in printers %}
    <div id="block_general_printer_info">
        <div class="div_link_to_full_info">
            {% block link_to_detailed_report  %}
        	<a id="link_to_detailed_report" href="/detailed_status/{{ printer.pk }}"></a>
	    {% endblock %}
                <div id="div_short_status">
                    {% if printer.lastUpdate|status_changer == "OK" %}
                        <img id="img_printer_status" src="/static/images/thumbs.png" alt="Request type img">
                    {% else %}
                        <img id="img_printer_status" src="/static/images/multiplication.png" alt="Request type img">
                    {% endif %}
                    <div id="div_status_type_text">
                        <li> here could be your ad</li>
                    </div>
                </div>
            <div id="div_short_status_info">
                {% block general_info %}
	                <h1>{{ printer.name|name_changer }}</h1>
	                <p> Last Update: {{ printer.lastUpdate|update_marker }} </p>
	                <li> Location: {{ printer.location }} </li>
	                <li> IP: <a id="printer_ip" href='http://{{ printer.ip }}/'>{{ printer.ip }}</a> </li>
                {% endblock %}
	            <p></p>
	            <p></p>
                {% block cartridge_status %}
	                <li> Black: {{ printer.blackResidue|residue_value_marker }} </li>
                    {% if printer.cyanResidue >= 0 %}
                        <li> Cyan: {{ printer.cyanResidue|residue_value_marker }} </li>
	                    <li> Yellow: {{ printer.yellowResidue|residue_value_marker }} </li>
	                    <li> Magenta: {{ printer.magentaResidue|residue_value_marker }} </li>
                    {% endif %}
                    {% if printer.blackDrumResidue >= 0 %}
                        <li> Black Drum: {{ printer.blackDrumResidue|residue_value_marker }} </li>
                    {% endif %}
                    {% if printer.cyanDrumResidue >= 0 %}
                        <li> Cyan Drum: {{ printer.cyanDrumResidue|residue_value_marker }} </li>
		                <li> Yellow Drum: {{ printer.yellowDrumResidue|residue_value_marker }} </li>
		                <li> Magenta Drum: {{ printer.magentaDrumResidue|residue_value_marker }} </li>
                    {% endif %}
                    {% block additional_consumables %}
                        {% if printer.wasteBoxStatus %}
                            <li> Waste Box: {{ printer.wasteBoxStatus|waste_status }} </li>
                        {% endif %}
                        {% if printer.transferResidue >= 0 %}
                            <li> Transfer Kit: {{ printer.transferResidue|residue_value_marker }} </li>
                        {% endif %}
                        {% if printer.fuserResidue >= 0 %}
                            <li> Fuser Kit: {{ printer.fuserResidue|residue_value_marker }} </li>
                        {% endif %}

                    {% endblock %}
                {% endblock %}

            </div>
            {% block cartridge_changes %}
            {% endblock %}
        </div>
    </div>
{% endfor %}
{% endautoescape %}
{% endblock %}