{% extends "base.html" %}
{% block title %}Printers summary{% endblock %} 
{% load app_filters %}
{% block content %}
<table id="all_printers_tbl">
    <tr>
	<td>Printer</td>
	<td>Inventory #</td>
	<td>Black</td>
	<td>Cyan</td>
	<td>Yellow</td>
	<td>Magenta</td>
	<td>Drum Black</td>
	<td>Drum Cyan</td>
	<td>Drum Yellow</td>
	<td>Drum Magenta</td>
	<td>Waste Box</td>
	<td>Transfer Kit</td>
	<td>Fuser Kit</td>
    </tr>
{% autoescape off %}
{% for printer in printers %}
    <tr>
	{% if printer.lastUpdate|date_parser %}
	<td> {{ printer.name|name_changer|mark_red }} </td>
	{% else %}
	<td> {{ printer.name|name_changer }} </td>
	{% endif %}
	<td> {{ printer.inventory_number }} </td>
	<td> {{ printer.blackResidue|residue_value_marker }} </td>
	<td> {{ printer.cyanResidue|residue_value_marker }} </td>
	<td> {{ printer.yellowResidue|residue_value_marker }} </td>
	<td> {{ printer.magentaResidue|residue_value_marker }} </td>
	<td> {{ printer.blackDrumResidue|residue_value_marker }} </td>
	<td> {{ printer.cyanDrumResidue|residue_value_marker }} </td>
	<td> {{ printer.yellowDrumResidue|residue_value_marker }} </td>
	<td> {{ printer.magentaDrumResidue|residue_value_marker }} </td>
	<td> {{ printer.wasteBoxStatus|waste_status }} </td>
	<td> {{ printer.transferResidue|residue_value_marker }} </td>
	<td> {{ printer.fuserResidue|residue_value_marker }} </td>
    </tr>
{% endfor %}
{% endautoescape %}
</table>
    
{% endblock %}