@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

/* Base Styles */
body {
background: url("../images/sativa.png");
color: #800080;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 12px;
}

#container {
background: #FFFFFF;
margin: 30px auto;
width: 1000px;
heigth: 900px;
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
  float: left;
  width: 200px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#cssmenu > ul > li {
  margin: 0 0 2px 0;
}
#cssmenu > ul > li:last-child {
  margin: 0;
}
#cssmenu > ul > li > a {
  font-size: 15px;
  display: block;
  color: #ffffff;
  text-shadow: 0 1px 1px #000;
  background: #565656;
  background: -moz-linear-gradient(#565656 0%, #323232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #323232));
  background: -webkit-linear-gradient(#565656 0%, #323232 100%);
  background: linear-gradient(#565656 0%, #323232 100%);
  border: 1px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a > span {
  display: block;
  border: 1px solid #666666;
  padding: 6px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  background: #97be10;
  background: -moz-linear-gradient(#97be10 0%, #79980d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97be10), color-stop(100%, #79980d));
  background: -webkit-linear-gradient(#97be10 0%, #79980d 100%);
  background: linear-gradient(#97be10 0%, #79980d 100%);
  color: #fff;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #79980d;
}
#cssmenu > ul > li.active > a span {
  border: 1px solid #97be10;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 98% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 98% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  padding: 5px 12px;
  display: none;
}
#cssmenu ul ul li {
  padding: 3px 0;
}
#cssmenu ul ul a {
  display: block;
  color: #595959;
  font-size: 13px;
  font-weight: bold;
}
#cssmenu ul ul a:hover {
  color: #79980d;
}

#content {
  margin: 0 0 0 230px; 
}

#content_table {
  width: 100%;
}

#td {
  padding: 20px;
  vertical-align: top;
}

table#all_printers_tbl {
    width: 100%;
    border: 1px solid black;
    border-spacing: 3px;
    border-collapse: collapse;
}
table#all_printers_tbl tr:nth-child(even){
    border: 1px solid black;
    background-color: #fff
}
table#all_printers_tbl td {
    border: 1px solid black;
    padding: 3px;
    vertical-align: top;
    text-align: center;
}

table#printed_pages_statistic_tbl {
    border: 1px solid black;
    border-spacing: 3px;
    border-collapse: collapse;
}
table#printed_pages_statistic_tbl tr:nth-child(even){
    border: 1px solid black;
    background-color: #fff
}
table#printed_pages_statistic_tbl td {
    border: 1px solid black;
    padding: 3px;
    vertical-align: top;
    text-align: center;
}

#block_general_printer_info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 20px;
}


    div.div_link_to_full_info {
        position: relative;
    }

    div.div_link_to_full_info #link_to_detailed_report {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        z-index: 10;
        background-color: #FFF;
        opacity: 0;
        filter: alpha(opacity=1);
    }


    #div_short_status,#div_short_status_info {
        display: inline-block;
        text-align: left;
        word-wrap:  break-word;
        margin-left: 20px;
        width: 300px;
    }


    #img_printer_status {
        width: 100px;
    }


    #div_short_status {
        vertical-align: top;
        text-align: center;
        width: 100px;
        margin-left: 20px;
        margin-top: 10px;

    }

    #div_status_type_text {
        width: 100px;
    }

#div_sent_received_statistic{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 20px;
}